<div class="nav">
    <nav class="navbar">
        <div class="brand">
            <a href="/"><h2>Login App</h2></a>
        </div>
        <div class="nav-links">
            <ul>
                 <li>
                    <a href="/Register">Register</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>